/Travaux Pratiques/TP 6 - Mécanisme d'attention et Vision Transformers/dataset/
/Travaux Pratiques/TP 5 - CNN et Transfer Learning pour la classification d’objets dans un chantier ferroviaire/dataset/
/Travaux Pratiques/TP 6 - Mécanisme d'attention et Vision Transformers/dataset/
/Projet/dataset/MOCS_Small/
